<header>
  <nav class="navbar">
    <div class="content">
      <p class="app-name">MyFace</p>
      <ul class="menu-list">
        <li><a href="#">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="#">+New Post</a></li>
      </ul>
    </div>
  </nav>
</header>
