/* Add your styles here. */
.main {
  background-color: #252a38;
}
#cover-picture {
  position: relative;
  width: 100%;
  height: 25%;
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  /* border: 0.5rem solid orange; */
  position: relative;
  transform: translateY(-50%);
  margin-left: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #dcdcdc;
  background-color: rgba(37, 42, 36, 0.7);
}

#profile-picture {
  border-radius: 50%;
  height: 200px; /* This is height of Profile Picture*/
}
.details {
  /* border: 0.5rem solid green; */
  line-height: 1px;
  padding-left: 10px;
}
.sub-title {
  font-size: 32px;
}


@media (min-width: 200px) {
  #name {
    font-size: 20px;
  }
  #profile-picture {
    border-radius: 50%;
    height: 100px; /* This is height of Profile Picture*/
  }
  .sub-title {
    font-size: 18px;
  }
}

@media (min-width: 430px) {
  #name {
    font-size: 26px;
  }
  .sub-title {
    font-size: 20px;
  }
}
@media (min-width: 820px) {
  #name {
    font-size: 32px;
  }
  .sub-title {
    font-size: 24px;
  }
}
@media (min-width: 1000px) {
  #name {
    font-size: 40px;
  }
  .sub-title {
    font-size: 32px;
  }
}
/* h1 {
  color: brown;
}

.post {

  border: 0.5rem solid red;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 1rem;
}
.post_content {
  border: 0.5em solid orange;
  padding: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
}
strong {
  font-family: cursive;
  font-weight: bolder;
}

#post_image {
  width: 20rem;
  height: 20rem;
}
.button-container{
    display:flex;
}
.button{
 padding: 1rem 1rem;
  text-align: center;
  text-decoration:solid black;
  font-family: cursive;
  font-size: 1rem;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;

}
#like{
    background-color: cyan;
}
#dislike{
    background-color: orangered;
}

@media (max-width: 320px) {
  .post {
    flex-direction: column;
  }
  .post_content {
    font-size: 0.5rem;
  }

  #post_image {
    width: 10rem;
    height: 10rem;
  }
}
@media (min-width: 820px) {
  .post {
    flex-direction: column;
  }
  .post_content {
    font-size: 1rem;
    width:25rem;
    height:25rem;
  }
  #post_image {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 1000px) {
  .post {
    flex-direction: row;
  }
  .post_content {
    font-size: 1.2rem;
    width:30rem;
    height:30rem;
  }
  #post_image {
    width: 15rem;
    height: 15rem;
  }
} */
